.idea
.vs/
Debug/
Release/
x64/
PEL208-Special_Learning_Topics/Debug/
PEL208-Special_Learning_Topics/Release/
PEL208-Special_Learning_Topics/x64/
PEL208-Special_Learning_Topics/least_squares_data/.idea
PEL208-Special_Learning_Topics/pca_data/.idea
PEL208-Special_Learning_Topics/lda_data/.idea
PEL208-Special_Learning_Topics/kmeans_data/.idea
Python_Assignments/__pycache__
Python_Assignments/naive_bayes/__pycache__
Python_Assignments/perceptron/__pycache__